.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1030;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
}
.sidebar .logo .logo {
    position: relative;
    padding: 7px 0.7rem;
    z-index: 4;
}
.sidebar .sidebar-wrapper.sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
    padding-left: 20px;
}
.sidebar .nav{
    margin-top: 20px;
    display: block;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
p{
    margin-top: 0px;
    font-size: .85rem;
    color: black;
    padding-top: 10px;
    font-weight: bold;
}
.active {
    background: #eee;
    position: relative;
}
li.active a {
    color: #3c91e6;/* Màu chữ xanh */
}

li.active i {
    color: #3c91e6; /* Màu icon xanh */
}
#content nav {
    height: 69px;
    background: #f9f9f9;
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
    margin-left: 35px;
    margin-top: 0px;
}
#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: #eee;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: #342e37;
}
#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c91e6;
    color: #f9f9f9;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
#content i, #content nav {
    margin-right: 10px; /* Khoảng cách giữa icon và phần input */
}
#menu li.sub-menu {
    display: none; /* Ẩn các thẻ <li> con ban đầu */
}
#content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: #eee;
    cursor: pointer;
    position: relative;
}
#content nav .notification {
    font-size: 20px;
    position: relative;
    padding-left: 660px;
}
#content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f9f9f9;
    background: #db504a;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-menu {
    width: 100%;
    margin-top: 48px;
    list-style-type: none;
}
.side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
.side-menu li a {
    width: 100%;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: #342e37;
    white-space: nowrap;
    overflow-x: hidden;
}