<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS của Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <center>
        <h1>Update Dế Giày</h1>
    </center>

    <form>
        <div class="form-group">
            <label for="productName">Tên đế</label>
            <input type="text" class="form-control" id="productName" placeholder="Nhập tên sản phẩm">
        </div>
        <div class="form-group">
            <label for="price">Màu Sắc</label>
            <input type="text" class="form-control" id="price" placeholder="Nhập giá sản phẩm">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="brand">Kiểu đế</label>
                <select class="form-control" id="brand">
                    <option>Chọn kiểu đế</option>
                    <option> hiệu 1</option>
                    <option> hiệu 2</option>
                    <option>hiệu 3</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="category">kích thước</label>
                <select class="form-control" id="category">
                    <option>Chọn kích thước</option>
                    <option>mục 1</option>
                    <option>mục 2</option>
                    <option> mục 3</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="material">Trạng Thái</label>
                <select class="form-control" id="material">
                    <option>Chọn trạng thái</option>
                    <option>Chất  1</option>
                    <option>Chất  2</option>
                    <option>Chất 3</option>
                </select>
            </div>
            <div class="form-group col-md-6">
            </div>
        </div>
        <button type="submit" class="btn btn-danger">
            <a href="#">    Update</a>
        </button>
    </form>
</div>

<!-- Link JavaScript của Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>