<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin/trang-chu.css">
    <link rel="stylesheet" href="/css/admin/voucher/create-chuongtrinh.css">
    <link rel="stylesheet" href="/css/admin/phan-trang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
<div class="section">
    <div class="row">
        <div class="col-sm-2 col-xl-2 col-lg-2 col-md-2 col-xxl-2">
            <div class="sidebar">
                <div class="logo d-flex align-items-center" style="padding-left: 20px;padding-top: 52px;height: 40px;">
                    <a href="" class="text-decoration-none">
                        <div class="">
                            <img src="/assets/image/business%20(1).png" style="padding-bottom: 30px">
                        </div>
                    </a>
                    <a href="" class="simple-text logo-normal text-decoration-none" style="padding-left: 25px;">
                        <p style="padding-bottom: 30px;">
                            Tên cửa hàng
                        </p>
                    </a>
                </div>
                <hr>
                <div class="sidebar-wrapper">
                    <ul class="nav" id="menu">
                        <li class="active d-flex align-items-center">
                            <a href="/admin/dashboard" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/business%20(1).png">
                                </div>
                            </a>
                            <a href="/admin/dashboard" class="text-decoration-none" style="padding-left: 25px;">
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/add-cart.png">
                                </div>
                            </a>
                            <a href="" class="text-decoration-none" style="padding-left: 25px;">
                                <i class="nc-icon nc-diamond"></i>
                                <p>Đơn hàng</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/cart.png">
                                </div>
                            </a>
                            <a href="/admin/dashboard/don-hang" class="text-decoration-none"
                               style="padding-left: 25px;">
                                <i class="nc-icon nc-pin-3"></i>
                                <p>Bán tại quầy</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/delivery-box.png">
                                </div>
                            </a>
                            <a href="" onclick="toggleNoiDung()" class="text-decoration-none"
                               style="padding-left: 25px;">
                                <p>Quản Lý Sản phẩm</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/add-user.png">
                                </div>
                            </a>
                            <a onclick="toggleSubMenu()" class="text-decoration-none"
                               style="padding-left: 25px;">
                                <i class="nc-icon nc-single-02"></i>
                                <p>Quản Lý Tài khoản</p>
                            </a>
                        </li>
                        <div id="subMenu" style="display: none;">
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/nhan-vien" class="text-decoration-none">
                                    <p>Nhân Viên</p>
                                </a>
                            </li>
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/khach-hang" class="text-decoration-none">
                                    <p>Khách Hàng</p>
                                </a>
                            </li>
                        </div>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/ticket.png">
                                </div>
                            </a>
                            <a href="/admin/dashboard/voucher" class="text-decoration-none" style="padding-left: 25px;">
                                <i class="nc-icon nc-tile-56"></i>
                                <p>Quản Lý Voucher</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="#" class="text-decoration-none" style="margin-right: 25px;">
                                <i class="bx bxs-cog">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16"
                                         style="width: 32px;height: 32px;">
                                        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                                    </svg>
                                </i>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <p class="text">Settings</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="#" class="text-decoration-none" style="margin-right: 25px;">
                                <i class="bx bxs-log-out-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-box-arrow-in-left" viewBox="0 0 16 16"
                                         style="width: 32px;height: 32px;">>
                                        <path fill-rule="evenodd"
                                              d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                        <path fill-rule="evenodd"
                                              d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                    </svg>
                                </i>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <p class="text">Logout</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-xl-10 col-lg-10 col-md-10 col-xxl-10">
            <section id="content">
                <nav class="navbar navbar-expand-lg navbar-light custom-navbar"
                     style="background-color:  #f9f9f9">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                            <i class="bx bx-menu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </i>
                            <nav>
                                <form action="#">
                                    <div class="form-input">
                                        <input type="search" placeholder="Search...">
                                        <button type="submit" class="search-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                                <a href="#" class="notification">
                                    <i class="bx bxs-bell">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                        </svg>
                                    </i>
                                    <span class="num">8</span>
                                </a>
                                <a href="#" class="profile">
                                    <img src="/assets/image/man.png">
                                </a>
                            </nav>
                        </div>
                    </div>
                </nav>
            </section>
            <main class="" style="background-color: #f0f0f0">
                <div class="row">
                    <div class="col-lg-8">
                        <br>
                        <div class="card" style="margin-left: 20px;margin-right: -20px;border-radius: 20px">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span class="header-title">Mã khuyến mãi</span>
                                        <input type="text" class="next-input" placeholder="Nhập mã khuyến mãi">
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="header-title">Tên chương trình khuyến mãi</span>
                                        <input type="text" class="next-input" placeholder="Nhập tên khuyến mãi">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group shadow-textarea">
                                    <span class="header-title">Mô Tả</span>
                                    <textarea class="next-input" id="exampleFormControlTextarea6" rows="3"
                                              placeholder="Nhập mô tả"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="margin-left: 20px;margin-right: -20px;border-radius: 20px">
                            <div class="card-body">
                                <span class="header-title">Loại Giảm Giá</span>
                                <br>
                                <div class="row" style="margin-top: 15px;margin-bottom: 7px;">
                                    <div class="col-lg-6">
                                        <button class="btn btn-outline-primary" style="margin-left: 150px;">
                                            Giảm Giá Sản Phẩm
                                        </button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn btn-outline-primary"
                                                style="margin-left: 80px;height: 37.6px">
                                            Đồng Giá
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="margin-left: 20px;margin-right: -20px;border-radius: 20px;height: 130px">
                            <div class="card-body">
                                <span class="header-title">Giảm giá đơn hàng</span>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <span class="header-title">Mức Giảm</span>
                                        <input type="text" class="next-input" placeholder="0">
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-select" id="selectOption"
                                                aria-label="Default select example" onchange="toggleCheckbox()">
                                            <option selected>đ</option>
                                            <option>%</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-5" id="checkboxContainer" style="display: none;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault"/>
                                            <label class="form-check-label" for="flexCheckDefault">Giới Hạn Số Tiền
                                                Giảm</label>
                                            <input type="text" class="next-input" placeholder="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="margin-left: 20px;margin-right: -20px;border-radius: 20px">
                            <div class="card-body">
                                <span class="header-title">Sản Phẩm Áp Dụng</span>
                                <br>
                                <div class="pt-16" style="">
                                    <div style="">
                                        <div class="next-input--stylized">
                                            <div class="next-input-wrapper">
                                                <input autocomplete="on" type="text" class="next-input" placeholder="Tìm kiếm" step="1" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="margin-left: 20px; margin-right: -20px; border-radius: 20px">
                            <div class="card-body">
                                <span class="header-title">Điều Kiện Giảm Giá</span>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                       id="flexRadioDefault1"/>
                                <label class="form-check-label" for="flexRadioDefault1" style="margin-bottom: 15px">Giá
                                    Trị Mua Tối Thiểu</label>
                                <div id="inputContainer1" style="display: none;margin-bottom: 15px">
                                    <input type="text" class="next-input" placeholder="0" style="width: 315px">
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                       id="flexRadioDefault2"/>
                                <label class="form-check-label" for="flexRadioDefault2" style="margin-bottom: 15px">Số
                                    Lượng Sản phẩm Tối
                                    Thiểu</label>
                                <div id="inputContainer2" style="display: none;">
                                    <input type="text" class="next-input" placeholder="0"
                                           style="width: 315px;margin-bottom: 15px">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="margin-left: 20px;margin-right: -20px;border-radius: 20px">
                            <div class="card-body">
                                <span class="header-title">Giới Hạn Sử Dụng</span>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ok"
                                       id="rdo1"/>
                                <label class="form-check-label" for="flexRadioDefault1" style="margin-bottom: 15px">
                                    Giới Hạn Số Lượng
                                </label>
                                <div id="rdoCt1" style="display: none;margin-bottom: 15px">
                                    <input type="text" class="next-input" placeholder="0" style="width: 315px">
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ok"
                                       id="rdo2"/>
                                <label class="form-check-label" for="flexRadioDefault2" style="margin-bottom: 15px">
                                    Giới Hạn Số Lần Sử Dụng Mỗi Khách
                                </label>
                                <div id="rdoCt2" style="display: none;">
                                    <input type="text" class="next-input" placeholder="0"
                                           style="width: 315px;margin-bottom: 15px">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card"
                             style="margin-left: 20px;margin-right: -20px;border-radius: 20px;margin-bottom: 20px">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span class="header-title">Ngày Bắt Đầu</span>
                                        <input type="date" class="next-input" placeholder="Nhập ngày bắt đầu">
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="header-title">Ngày Kết Thúc</span>
                                        <input type="date" class="next-input" placeholder="Nhập ngày kết thúc">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <div class="card" style="margin-left: 20px;margin-right: 20px;border-radius: 20px">
                            <div class="card-body">
                                <label class="form-label">Mã khuyến mãi</label><br>
                                <label class="form-label">Tên khuyến mãi</label><br>
                                <label class="form-label">Loại giảm giá</label><br>
                                <label class="form-label">Giảm giá đơn hàng</label><br>
                                <label class="form-label">Điều kiện giảm giá</label><br>
                                <label class="form-label">Giới hạn sử dụng</label><br>
                                <label class="form-label">Có hiệu lực từ 13:41 17/07/2023 - 13:41 24/07/2023</label>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/js/admin/voucher/voucher.js"></script>
<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
</body>
</html>