<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin/trang-chu.css">
    <link rel="stylesheet" href="/css/admin/voucher/hien-thi.css">
    <link rel="stylesheet" href="/css/admin/select-button.css">
    <link rel="stylesheet" href="/css/admin/phan-trang.css">
    <link rel="stylesheet" href="/css/admin/oder/don-hang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
<div class="section">
    <div class="row">
        <div class="col-sm-2 col-xl-2 col-lg-2 col-md-2 col-xxl-2">
            <div class="sidebar">
                <div class="logo d-flex align-items-center" style="padding-left: 20px;padding-top: 52px;height: 40px;">
                    <a href="" class="text-decoration-none">
                        <div class="">
                            <img src="/assets/image/business%20(1).png" style="padding-bottom: 30px">
                        </div>
                    </a>
                    <a href="" class="simple-text logo-normal text-decoration-none" style="padding-left: 25px;">
                        <p style="padding-bottom: 30px;">
                            Tên cửa hàng
                        </p>
                    </a>
                </div>
                <hr>
                <div class="sidebar-wrapper">
                    <ul class="nav" id="menu">
                        <li class="active d-flex align-items-center">
                            <a href="/admin/dashboard" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/business%20(1).png">
                                </div>
                            </a>
                            <a href="/admin/dashboard" class="text-decoration-none" style="padding-left: 25px;">
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="/admin/dashboard/hoa-don" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/add-cart.png">
                                </div>
                            </a>
                            <a href="/admin/dashboard/hoa-don" class="text-decoration-none" style="padding-left: 25px;">
                                <i class="nc-icon nc-diamond"></i>
                                <p>Quản lí thu chi</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="/admin/dashboard/don-hang" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/cart.png">
                                </div>
                            </a>
                            <a href="/admin/dashboard/don-hang" class="text-decoration-none" style="padding-left: 25px;">
                                <i class="nc-icon nc-pin-3"></i>
                                <p>Bán tại quầy</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/delivery-box.png">
                                </div>
                            </a>
                            <a onclick="toggleNoiDung()" class="text-decoration-none"
                               style="padding-left: 25px;">
                                <p>Quản Lý Sản phẩm</p>
                            </a>
                        </li>
                        <div id="noiDung" style="display: none;">
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/product" class="text-decoration-none">
                                    <p>Sản Phẩm</p>
                                </a>
                            </li>
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/deGiay" class="text-decoration-none">
                                    <p>Đế Dày</p>
                                </a>
                            </li>

                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/xuatXu" class="text-decoration-none">
                                    <p>Xuất xứ</p>
                                </a>
                            </li>
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/danhMuc" class="text-decoration-none">
                                    <p>Danh mục</p>
                                </a>
                            </li>
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/chatLieu" class="text-decoration-none">
                                    <p>Chất Liệu</p>
                                </a>
                            </li>
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/thuongHieu" class="text-decoration-none">
                                    <p>Thương Hiệu</p>
                                </a>
                            </li>
                        </div>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/add-user.png">
                                </div>
                            </a>
                            <a onclick="toggleSubMenu()" class="text-decoration-none"
                               style="padding-left: 25px;">
                                <i class="nc-icon nc-single-02"></i>
                                <p>Quản Lý Tài khoản</p>
                            </a>
                        </li>
                        <div id="subMenu" style="display: none;">
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/nhan-vien" class="text-decoration-none">
                                    <p>Nhân Viên</p>
                                </a>
                            </li>
                            <li class="d-flex align-items-center" style="padding-top: 10px; padding-left: 40px;">
                                <a href="/admin/dashboard/khach-hang" class="text-decoration-none">
                                    <p>Khách Hàng</p>
                                </a>
                            </li>
                        </div>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="/admin/dashboard/voucher" class="text-decoration-none">
                                <div class="">
                                    <img src="/assets/image/ticket.png">
                                </div>
                            </a>
                            <a href="/admin/dashboard/voucher" class="text-decoration-none" style="padding-left: 25px;">
                                <i class="nc-icon nc-tile-56"></i>
                                <p>Quản Lý Voucher</p>
                            </a>
                        </li>
                        <li class="d-flex align-items-center" style="padding-top: 20px">
                            <a href="#" class="text-decoration-none" style="margin-right: 25px;">
                                <i class="bx bxs-log-out-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-box-arrow-in-left" viewBox="0 0 16 16"
                                         style="width: 32px;height: 32px;">>
                                        <path fill-rule="evenodd"
                                              d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                        <path fill-rule="evenodd"
                                              d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                    </svg>
                                </i>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <p class="text">Logout</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-xl-10 col-lg-10 col-md-10 col-xxl-10">
            <section id="content">
                <nav class="navbar navbar-expand-lg navbar-light custom-navbar"
                     style="background-color:  #f9f9f9">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                            <i class="bx bx-menu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </i>
                            <nav>
                                <form action="#">
                                    <div class="form-input">
                                        <input type="search" placeholder="Search...">
                                        <button type="submit" class="search-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                                <a href="#" class="notification">
                                    <i class="bx bxs-bell">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                        </svg>
                                    </i>
                                    <span class="num">8</span>
                                </a>
                                <a href="#" class="profile">
                                    <img src="/assets/image/man.png">
                                </a>
                            </nav>
                        </div>
                    </div>
                </nav>
            </section>
            <main class="">
                <div class="firstBoxDH" style="min-height: 120px">
                    <div class="box">
                        <div class="row">
                            <div class="col-md-2">
                                <input class="form-control" placeholder="Tìm nhân viên">
                            </div>
                            <div class="col-md-2 d-flex justify-content-start">
                                <button class="button1" style="height: 39px">
                                    <ion-icon name="search-outline"
                                              style="vertical-align: middle;"></ion-icon>
                                    <span style="vertical-align: middle;">Search</span>
                                </button>
                            </div>
                            <div class="col-md-3 d-flex justify-content-start">
                            </div>
                            <div class="col-md-3 d-flex justify-content-start" style="text-align: end">
                                <label class="form-label" style="margin-top: 7px">Trạng thái :</label>
                                <select style="color: green;" class="custom-select">
                                    <option>Tất cả</option>
                                    <option>Chưa giao</option>
                                    <option>Đã giao</option>
                                    <option>Chưa xác nhận</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="button2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        style="text-decoration: none;height: 39px">
                                    <ion-icon name="add-outline"
                                              style="vertical-align: middle; margin-right: 5px;"></ion-icon>
                                    <span style="vertical-align: middle;">Tạo Khuyến Mãi</span>
                                </button>
                            </div>
                            <!--tạo tài khoản-->
                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Tạo khuyến mãi
                                            </h5>
                                            <br>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body-item">
                                                <a href="#" class="icon-voucher">
                                                    <img src="/assets/image/coupons%20(1).png">
                                                </a>
                                                <div class="modal-body-item-title">
                                                    <a href="/admin/dashboard/create-voucher">
                                                        <label>Tạo Mã khuyến mãi </label>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="modal-body-item">
                                                <a href="#" class="icon-voucher">
                                                    <img src="/assets/image/voucher.png">
                                                </a>
                                                <div class="modal-body-item-title">
                                                    <a href="/admin/dashboard/create-programme">
                                                        <label>Tạo Chương trình khuyến mãi</label>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twoBoxDH">
                    <div class="box">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã</th>
                                <th scope="col">Hình Thức</th>
                                <th scope="col">Loại Sản Phẩm</th>
                                <th scope="col">Đã Sử Dụng</th>
                                <th scope="col">Bắt Đầu</th>
                                <th scope="col">Kết Thúc</th>
                                <th scope="col">Trạng Thai</th>
                                <th scope="col">Thao Tác</th>
                            </tr>
                            </thead>
                            <tbody class="table">
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>0/5</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>
                                    <a href="#" class="btn btn-outline-primary">Sửa</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="container">
                            <button class="button" id="startBtn" disabled>
                                <i class="fa-solid fa-angles-left"></i>
                            </button>
                            <button class="button prevNext" id="prev" disabled>
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                            <div class="links">
                                <a href="#" class="link active">1</a>
                                <a href="#" class="link">2</a>
                                <a href="#" class="link">3</a>
                                <a href="#" class="link">4</a>
                                <a href="#" class="link">4</a>
                                <a href="#" class="link">5</a>
                            </div>
                            <button class="button prevNext" id="next">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                            <button class="button" id="endBtn">
                                <i class="fa-solid fa-angles-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/js/admin/trang-chu.js"></script>
<script src="/js/admin/phan-trang.js"></script>
<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
</body>
</html>