<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS của Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <center>
        <h1>ADD danh mục</h1>
    </center>

    <form>
        <div class="form-group">
            <label for="productName">Tên </label>
            <input type="text" class="form-control" id="productName" placeholder="Nhập tên sản phẩm">
        </div>
        <div class="form-group">
            <label for="price">Mô tả</label>
            <input type="text" class="form-control" id="price" placeholder="Nhập giá sản phẩm">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="brand">Trạng thái</label>
                <select class="form-control" id="brand">
                    <option>Chọn trạng thái</option>
                    <option> hiệu 1</option>
                    <option> hiệu 2</option>
                    <option>hiệu 3</option>
                </select>
            </div>
            <div class="form-group col-md-6">

            </div>
        </div>

        <button type="submit" class="btn btn-danger">
            <a href="#">    Submit</a>
        </button>
    </form>
</div>

<!-- Link JavaScript của Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>